@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  font: 14px/1.5 'Inter', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  letter-spacing: 1.2px;
}

@media only screen and (min-width: 992px) {
  html,
  body {
    font-size: 18px;
  }
}

@font-face {
  font-family: 'back_to_black_demoregular';
  src: url("../fonts/back_to_black_demo-webfont.eot");
  src: url("../fonts/back_to_black_demo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/back_to_black_demo-webfont.woff2") format("woff2"), url("../fonts/back_to_black_demo-webfont.woff") format("woff"), url("../fonts/back_to_black_demo-webfont.ttf") format("truetype"), url("../fonts/back_to_black_demo-webfont.svg#back_to_black_demoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  background: #f0f7f4;
  font-family: 'back_to_black_demoregular';
  padding: 50px 0;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .custom-font {
    font-family: 'Lato', sans-serif;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*btn starts*/
.btn {
  min-height: 52px;
  font-size: 14px;
  border-width: 2px;
  margin: 1px 3px 1px;
  padding: 13px 40px 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.btn img,
.btn svg {
  margin-left: 7px;
  width: 18px;
}

.btn:first-child {
  margin-left: 0;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover svg .st0 {
  fill: #fff;
}

.btn-primary {
  background: #ee3d49;
  color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.btn-primary:hover {
  background: #eb1c2a;
}

.btn-primary:hover {
  color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.btn-primary:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff;
  background-color: #ee3d49;
  border-color: #ee3d49;
}

.btn-outline-primary {
  color: #ee3d49;
  border-color: #ee3d49;
}

.btn-outline-primary:hover {
  background: #ee3d49;
  border-color: transparent;
}

.btn-outline-primary:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #ee3d49 !important;
  border-color: #ee3d49 !important;
  color: #fff !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff !important;
  background-color: #ee3d49 !important;
  border-color: #ee3d49 !important;
}

.btn-black {
  background: black;
  color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.btn-black:hover {
  background: black;
}

.btn-black:hover {
  color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.btn-black:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-black:not(:disabled):not(.disabled):active, .btn-black:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-outline-black {
  color: black;
  border-color: black;
}

.btn-outline-black:hover {
  background: black;
  color: #fff !important;
  border-color: transparent;
}

.btn-outline-black:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: black !important;
  border-color: black !important;
  color: #fff !important;
}

.btn-outline-black:not(:disabled):not(.disabled):active, .btn-outline-black:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff !important;
  background-color: black !important;
  border-color: black !important;
}

.btn-outline-black svg .st0 {
  fill: #000;
}

.btn-secondary {
  background: #fdb813;
  color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.btn-secondary:hover {
  background: #eaa602;
}

.btn-secondary:hover {
  color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.btn-secondary:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff;
  background-color: #fdb813;
  border-color: #fdb813;
}

.btn-outline-secondary {
  color: #fdb813;
  border-color: #fdb813;
}

.btn-outline-secondary span {
  color: #fdb813;
}

.btn-outline-secondary:hover {
  background: #fdb813;
  color: white;
  border-color: transparent;
}

.btn-outline-secondary:hover span {
  color: #fff !important;
}

.btn-outline-secondary:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #fdb813 !important;
  border-color: #fdb813 !important;
  color: #fff !important;
}

.btn-outline-secondary:focus span {
  color: #fff !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff !important;
  background-color: #fdb813 !important;
  border-color: #fdb813 !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active span, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus span {
  color: #fff !important;
}

.btn-red {
  background: #d3010f;
  color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.btn-red:hover {
  background: #af010c;
}

.btn-red:hover {
  color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.btn-red:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff;
  background-color: #d3010f;
  border-color: #d3010f;
}

.btn-outline-red {
  color: #d3010f;
  border-color: #d3010f;
}

.btn-outline-red:hover {
  background: #d3010f;
  color: white;
  border-color: transparent;
}

.btn-outline-red:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #d3010f !important;
  border-color: #d3010f !important;
  color: #fff !important;
}

.btn-outline-red:not(:disabled):not(.disabled):active, .btn-outline-red:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff !important;
  background-color: #d3010f !important;
  border-color: #d3010f !important;
}

.btn-green {
  background: #01dd35;
  color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.btn-green:hover {
  background: #01b92c;
}

.btn-green:hover {
  color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.btn-green:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff;
  background-color: #01dd35;
  border-color: #01dd35;
}

.btn-outline-green {
  color: #01dd35;
  border-color: #01dd35;
}

.btn-outline-green:hover {
  background: #01dd35;
  color: white;
  border-color: transparent;
}

.btn-outline-green:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #01dd35 !important;
  border-color: #01dd35 !important;
  color: #fff !important;
}

.btn-outline-green:not(:disabled):not(.disabled):active, .btn-outline-green:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff !important;
  background-color: #01dd35 !important;
  border-color: #01dd35 !important;
}

/*btn ends*/
#navigation {
  background: white;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#navigation .navbar-brand {
  display: block;
}

#navigation .navbar-brand img {
  max-width: 200px;
  max-height: 80px;
}

@media only screen and (min-width: 768px) {
  #navigation .navbar-brand img {
    max-width: 296px;
  }
}
#navigation .navbar {
  padding: 0;
}

#navigation .nav-link {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1px;
  padding: 10px 25px;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media only screen and (min-width: 1200px) {
  #navigation .nav-link {
    margin-bottom: 0;
    margin-left: 10px;
    padding: 50px 10px;
  }
}

#navigation .nav-link.active {
  background: rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 1200px) {
  #navigation .nav-link.active {
    background: none;
  }
}
/* newly added for product hover */
    #product-hover-div {
    display: none;
    position: absolute;
    top: 100%; /* Position it below the Products link */
    left: -10px; /* Adjust the left property to add margin on the left side */
    width: calc(100% + 20px); /* Adjust the width as needed */
    height: 335px; /* Set the height to 400px */
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03);
    padding: 20px;
    z-index: 1000; /* Ensure it appears above other elements */
    overflow: hidden;
    transition: opacity 0.3s ease;
}
@media (max-width:1200px){
  #product-hover-div {
   height: 230px;
  }
}
.product-image-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-image-div img {
    height: 100%;
    max-width: 90%;
    border-radius: 8px;
    transition: box-shadow 0.6s ease;
}

.product-image-div img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
    /* transform: scale(1.08); */
}
/* Default styling for larger screens */
.hide-display {
    display: none;
}

/* Media query for screens up to 767px (typical mobile width) */
@media (max-width: 767px) {
    .hide-display {
        display: block;
    }
}
.display-hide {
    display: block;
}

/* Media query for screens up to 767px (typical mobile width) */
@media (max-width: 767px) {
    .display-hide {
        display: none;
    }
}
/* newly added css ends here */
@media only screen and (min-width: 1200px) {
  #navigation .nav-link.active::before {
    content: "";
    background: #ee3d49;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    top: -96px;
    z-index: -1;
  }
}

#navigation .nav-link:hover {
  background: rgba(0, 0, 0, 0.05);
  color: black;
}

@media only screen and (min-width: 1200px) {
  #navigation .nav-link:hover {
    background: none;
  }
}

#navigation .navbar-toggler {
  font-size: 18px;
  padding: 5px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#navigation .dropdown-menu {
  background: rgba(0, 0, 0, 0.05);
  font-size: 16px;
  margin-bottom: 1px;
  padding: 10px;
  top: calc(100% - 2px);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

@media only screen and (min-width: 1200px) {
  #navigation .dropdown-menu {
    background: white;
    margin-bottom: 0;
    padding: 15px 0;
  }
}

.social-media {
  margin-left: 5px;
  padding: 20px 0;
}

@media only screen and (min-width: 1200px) {
  .social-media {
    padding: 0;
  }
}

.social-media ul li {
  margin-left: 15px;
}

.social-media ul li a {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 1200px) {
  .social-media ul li a {
    width: 18px;
    height: 18px;
  }
}

.line {
  background: white;
  height: 1px;
  margin-top: 88px;
}

@media only screen and (min-width: 1200px) {
  .line {
    margin-top: 127px;
  }
}

h1,
h2 {
  font-size: 30px;
  line-height: 40px;
  color: black;
  font-weight: 700;
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  h1,
  h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
  color: black;
  font-weight: 700;
}

@media only screen and (min-width: 992px) {
  h3 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 70px;
  }
}

p {
  font-size: 14px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  p {
    font-size: 18px;
  }
}

.banner {
  background: url("../img/banner-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.banner::after {
  content: "";
  background: url("../img/bush.png") no-repeat 50% 50%;
  width: 329px;
  height: 377px;
  position: absolute;
  right: 83%;
  bottom: 0;
  z-index: -1;
}

.banner .carousel-inner {
  width: calc(100% + 80px);
}

@media only screen and (max-width: 767.98px) {
  .banner .carousel-inner {
    width: 100%;
  }
}

.banner .carousel-item {
  min-height: 600px;
  height: calc(100vh - 128px);
}

@media only screen and (max-width: 575.98px) {
  .banner .carousel-item {
    height: calc(100vh - 260px);
  }
}

@media only screen and (max-width: 767.98px) {
  .banner .carousel-item {
    min-height: auto;
    height: auto;
    padding: 15px;
  }
}

.banner h1,
.banner h2 {
  color: white;
}

.banner p {
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.banner svg .st0 {
  fill: #ee3d49;
}

.banner svg:hover {
  cursor: pointer;
}

.banner svg:hover svg .st0 {
  fill: #fff;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 3;
}

.carousel-image {
  background: #f5f5f5;
  max-width: 340px;
  max-height: 500px;
  border: 8px solid #fff;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-right: 80px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.carousel-image img {
  max-width: 100%;
  position: relative;
  z-index: 3;
}

.carousel-image::after {
  content: "";
  background: #ee3d49;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  left: -50%;
  bottom: 40%;
  z-index: 1;
}

@media only screen and (max-width: 767.98px) {
  .carousel-image {
    margin-right: 0;
  }
}

.curve-img {
  width: 100% !important;
}

.sp {
  padding: 20px 0;
}

@media only screen and (min-width: 576px) {
  .sp {
    padding: 70px 0;
  }
}

@media only screen and (min-width: 768px) {
  .sp {
    padding: 70px 0;
  }
}

@media only screen and (min-width: 992px) {
  .sp {
    padding: 120px 0;
  }
}

.brief {
  background: white;
}

.brief img {
  max-width: 100%;
}

.title-group {
  width: 100%;
  max-width: 440px;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 992px) {
  .title-group {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .title-group {
    padding: 0 15px;
  }
}

.title-head {
  background: #ee3d49;
  width: 100%;
  max-width: 440px;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .title-head {
    width: 440px;
    max-width: 440px;
    font-size: 34px;
    padding: 10px 20px;
    position: absolute;
    top: 50px;
    right: calc(100% - 770px);
  }
}

@media only screen and (min-width: 1200px) {
  .title-head {
    position: absolute;
    top: 80px;
    right: calc(100% - 806px);
  }
}

.title-img {
  width: 100%;
  max-width: 440px;
  overflow: hidden;
  border: 8px solid #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.title-img img {
  width: 100%;
}

.title-content {
  padding: 30px 0 0 0;
}

@media only screen and (min-width: 992px) {
  .title-content {
    padding: 140px 0 0 0;
  }
}

@media only screen and (min-width: 1200px) {
  .title-content {
    padding: 175px 0 0 0;
  }
}

@media only screen and (min-width: 1400px) {
  .title-content {
    padding: 230px 0 0 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .title-content {
    padding: 30px 15px;
  }
}

.title-content-inner {
  padding: 30px 0 0 0;
}

.products {
  background: #f6f6f6;
}

.products img {
  max-width: 100%;
}

.products a.grid-item {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 768px) {
  .products {
    background: url("../img/pro-bg-left.png") no-repeat 0 0, url("../img/pro-bg-right.png") no-repeat 100% 100%, #f6f6f6;
  }
}

@media only screen and (max-width: 991.98px) {
  .products .nav-pills.grid {
    -ms-grid-columns: (100%)[1] !important;
        grid-template-columns: repeat(1, 100%) !important;
    grid-gap: 1em;
  }
}

@media only screen and (max-width: 991.98px) {
  .products .nav-pills.grid .grid-item {
    padding: 7px;
  }
}

.products .nav-pills .nav-link {
  color: rgba(0, 0, 0, 0.8);
  border: 5px solid transparent;
  height: 100%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

@media only screen and (max-width: 991.98px) {
  .products .nav-pills .nav-link {
    border: none;
  }
}

.products .nav-pills .nav-link .product-name {
  color: white;
}

@media only screen and (min-width: 992px) {
  .products .nav-pills .nav-link .product-name {
    color: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (max-width: 991.98px) {
  .products .nav-pills .nav-link .product-name {
    padding: 7px;
  }
}

.products .nav-pills .nav-link.active {
  background: white;
  color: black;
  border: 5px solid black;
}

@media only screen and (max-width: 991.98px) {
  .products .nav-pills .nav-link.active {
    border: none;
  }
}

.products .nav-pills .nav-link.active .product-name {
  color: black;
}

.products .tab-pane {
  padding: 50px 0;
}

.products .tab-pane h3 {
  font-size: 38px;
  line-height: 50px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 991.98px) {
  .products .tab-pane h3 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}

.products .tab-content {
  max-width: 1130px;
  margin: 0 auto;
}

.products-accor {
  background: white;
}

.products-accor .accordion-item {
  border-width: 2px;
}

.products-accor .accordion-button:not(.collapsed) {
  background-color: rgba(238, 61, 73, 0.05);
  color: #ee3d49;
}

.products-accor .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ec3b47'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.products-accor .accordion-button {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.products-accor .my-media {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: "img content";
}

@media only screen and (max-width: 767.98px) {
  .products-accor .my-media {
    display: block;
  }
}

.products-accor .my-media .my-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 991.98px) {
  .products-accor .my-media .my-image {
    border-right: none;
  }
}

.products-accor .my-media .my-image img {
  max-width: 200px;
}

.products-accor .my-media .my-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 30px;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 3em;
  -ms-grid-columns: (280px)[1];
      grid-template-columns: repeat(1, 280px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .grid {
    -ms-grid-columns: (330px)[2];
        grid-template-columns: repeat(2, 330px);
  }
}

@media only screen and (min-width: 992px) {
  .grid {
    -ms-grid-columns: (270px)[3];
        grid-template-columns: repeat(3, 270px);
  }
}

@media only screen and (min-width: 1200px) {
  .grid {
    -ms-grid-columns: (340px)[3];
        grid-template-columns: repeat(3, 340px);
  }
}

.grid .grid-item {
  background: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  position: relative;
  z-index: 4;
  overflow: hidden;
}

.grid .grid-item::after {
  content: "";
  background: #ee3d49;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  left: 380px;
  top: -220px;
  z-index: -1;
}

.grid .product-img {
  height: 350px;
  padding: 70px 0 40px;
}

.grid .product-img img {
  max-height: 240px;
}

.grid .product-name {
  padding: 20px 10px;
  text-align: center;
}

.testimonials {
  background: white;
}

.testimonials h3 {
  margin-bottom: 0;
}

.testi-box {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 70px;
  padding: 50px 0 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.testi-box::after {
  content: "“";
  font-family: Arial, Helvetica, sans-serif;
  color: #ffdcde;
  position: absolute;
  left: 0;
  top: 190px;
  z-index: -1;
  font-size: 500px;
  line-height: 0;
}

.testi-box p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  .testi-box p {
    font-size: 30px;
    line-height: 48px;
  }
}

.testi-box .quoter {
  font-size: 18px;
  color: #ee3d49;
}

.testimonials .carousel-indicators [data-bs-target] {
  background-color: #000;
  width: 8px;
  height: 8px;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.testimonials .carousel-indicators {
  bottom: -50px;
}

.testimonials .carousel-indicators .active {
  background-color: #ee3d49;
}

.testimonials .carousel-control-prev-icon,
.testimonials .carousel-control-next-icon {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#footer {
  background: rgba(0, 0, 0, 0.9) url("../img/worldmap.png") no-repeat 50% 100%;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 40px;
}

#footer .map {
  max-width: 460px;
  margin-bottom: 50px;
}

#footer .map iframe {
  border: 6px solid #fff !important;
  height: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

address h4 {
  color: #ee3d49;
  font-weight: 700;
}

address p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

address ul li {
  margin-bottom: 5px;
}

.custom-form {
  border: 6px solid #ee3d49;
  margin-bottom: 50px;
  padding: 10px 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

@media only screen and (min-width: 992px) {
  .custom-form {
    padding: 50px 50px 60px;
  }
}

.custom-form h3 {
  color: #ee3d49;
  font-weight: 500;
  margin-bottom: 30px;
}

.custom-form .form-group {
  margin-bottom: 20px;
}

.custom-form .form-text {
  font-size: 14px;
  color: #d3010f;
}

.custom-form .form-control {
  min-height: 52px;
  font-size: 16px;
  padding: .8rem 1.2rem;
}

.custom-form textarea.form-control {
  min-height: 150px;
}

.footer-right img {
  max-height: 44px;
}

.footer-right p {
  font-size: 12px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  .footer-right p {
    font-size: 16px;
  }
}

.designedby a {
  display: inline-block;
}

.designedby img {
  width: 150px;
  margin-left: 10px;
}

.top-btn {
  width: 36px !important;
  height: 36px !important;
  all: unset;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.top-btn img {
  width: 36px !important;
  height: 36px !important;
}

.page-name {
  background: black url("../img/pro.jpeg") no-repeat 50% 50% fixed;
  background-size: cover;
  padding: 50px 0;
  color: white;
  text-align: center;
  color: #ee3d49;
  position: relative;
  z-index: 2;
  font-size: 30px;
  font-weight: 700;
}

@media only screen and (min-width: 992px) {
  .page-name {
    font-size: 48px;
    line-height: 60px;
  }
}

.page-name::after {
  content: "";
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-name .container {
  position: relative;
  z-index: 2;
}

.nutritional-facts {
  background: white;
}

.nutri-box {
  background: black;
  text-align: center;
  margin-bottom: 70px;
  padding: 6px;
}

.nutri-box .nutri-box-line {
  background: black;
  border: 1px solid white;
  padding: 20px 20px 10px;
}

.nutri-box h4 {
  color: white;
  font-weight: 700;
}

.nutriplus-table thead tr td {
  color: rgba(0, 0, 0, 0.7);
  padding: 0 0;
  border-bottom: 5px solid black;
}

.nutriplus-table thead tr h5 {
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}

.nutriplus-table thead tr p {
  margin-bottom: 15px;
}

.nutriplus-table tbody tr:last-child td {
  border-bottom: none;
}

.nutriplus-table tbody td {
  padding: 12px 0;
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
  border-bottom: 2px solid #757575;
}

.nutriplus-table tbody td:first-child {
  color: black;
  font-weight: 700;
  text-align: left;
}

.news {
  background: white;
}

.news .card {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.news .card img {
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
}

.news .date-post {
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.325px;
  color: #818181;
  text-transform: uppercase;
  font-weight: 600;
  margin: 7px 0;
}

.news h5 {
  font-size: 22px;
  line-height: 30px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}

.news .card-text {
  font-size: 16px;
}

.galleryz {
  background: white;
}

.galleryz img,
.galleryz video {
  max-width: 100%;
  height: auto;
}

.galleryz figcaption {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.galleryz .gallery-box a {
  display: block;
}

.galleryz iframe {
  width: 100%;
  min-height: 196px;
  height: 100% !important;
  margin-bottom: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.galleryz h4 {
  font-weight: 700;
}

.galleryz a {
  display: block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
}

.map-big iframe {
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: none;
}

.contact {
  background: white url("../img/locationz.png") repeat-x 50% 100% fixed;
}

.contact .fa {
  background: black;
  width: 76px;
  height: 76px;
  font-size: 20px;
  color: white;
  margin: 0 auto 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.contact ul li {
  background: url("../img/bg-box.png") no-repeat 50% -50%;
  background-size: 300px;
  margin-bottom: 10px;
  padding: 50px 0;
}

.contact ul li h5 {
  font-weight: 700;
}

.product-carousel {
  padding-bottom: 30px;
}

.product-carousel .oc-item {
  background: white;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  z-index: 4;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.product-carousel .oc-item:after {
  content: "";
  background: #ee3d49;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  left: 380px;
  top: -220px;
  z-index: -1;
}

.product-carousel .oc-item .product-img {
  height: 370px;
  padding: 70px 0 40px;
}

.product-carousel .oc-item .product-img img {
  width: 180px;
}

.product-carousel .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px;
}

.product-carousel .owl-dots .owl-dot span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 0px;
  background: #cccccc;
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  margin: 3px;
}

.product-carousel .owl-dots .owl-dot.active span {
  background: #ee3d49;
}

.owl_1 {
  padding-bottom: 30px;
}

.owl_1 .item {
  background: white;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  z-index: 4;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.owl_1 .item:after {
  content: "";
  background: #ee3d49;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  left: 380px;
  top: -220px;
  z-index: -1;
}

.owl_1 .item .product-img {
  height: 370px;
  padding: 70px 0 40px;
}

.owl_1 .item .product-img img {
  width: 180px;
}

.owl_1 .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px;
}

.owl_1 .owl-dots .owl-dot span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 0px;
  background: #cccccc;
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  margin: 3px;
}

.owl_1 .owl-dots .owl-dot.active span {
  background: #ee3d49;
}

#banner-carousel {
  position: relative;
}

#banner-carousel .carousel-item {
  min-height: auto;
  height: auto;
  padding: 0;
}

@media only screen and (min-width: 1366px) {
  #banner-carousel .carousel-item {
    min-height: 600px;
    height: calc(100vh - 128px);
  }
}

#banner-carousel .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#banner-carousel .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 991px) {
  #banner-carousel .carousel-caption {
    right: auto;
    bottom: 25%;
    left: 20%;
  }
}

#banner-carousel .carousel-caption a.btn {
  background: #ee3d49;
  color: white;
  min-height: 30px;
  font-size: 14px;
  border-width: 2px;
  margin: 1px 3px 1px;
  padding: 7px 16px 9px;
  border-radius: 50px;
  border: solid #fff;
}

@media only screen and (min-width: 991px) {
  #banner-carousel .carousel-caption a.btn {
    min-height: 52px;
    padding: 13px 40px 10px;
  }
}

#banner-carousel .carousel-caption a.btn:hover {
  background: rgba(47, 47, 47, 0.5);
  color: #fff;
  border-color: #fff;
}

#banner-carousel .carousel-caption .st0 {
  fill: #fff !important;
}

.products .tab-content {
  margin-top: 50px;
}

.dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle.show {
  background-color: rgba(237, 61, 73, 0.09);
}

.dropdown-item {
  padding: 10px 10px;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #ee3d49;
  color: #fff;
}
/*# sourceMappingURL=all.css.map */