//Colors Starts
$primary: rgba(238, 61, 73, 1);
$secondary: rgba(253, 184, 19, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$red: rgba(211, 1, 15, 1);
$green: rgba(1, 221, 53, 1);
$blue: rgba(1, 177, 221, 1);
$yellow: rgba(213, 221, 1, 1);
$silver: rgba(239, 239, 239, 1);
//Colors Ends